:root {
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    --varyDarkBlue: hsl(234, 12%, 34%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryLightGray: hsl(0, 0%, 98%);
    --weight1: 200;
    --weight2: 400;
    --weight3: 600;
}

html{
    font-size:62.5%;
}

body {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--veryLightGray);
}

.dashboard{
    margin-top: 8rem;
}

h1:first-of-type {
    font-weight: var(--weight1);
    color: var(--varyDarkBlue);

}

h1:last-of-type {
    color: var(--varyDarkBlue);
}

#menu-btn{
    font-size: 3rem;
    color: var(--main-color);
    cursor: pointer;
    display: none;
}

header{
    display: flex;
    height: 7vh;
    align-items: center;
    justify-content: space-between;
    padding:.2rem 9%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #ffff;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    font-weight: bolder;
    color:var(--main-color);
}

header .logo i{
    font-size: 2.5rem;
    color: rgb(42, 126, 165);
    padding: .5rem;
}

header .navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:5%;
}

header .navbar a{
        font-size: 1.8rem;
        color: var(--main-color);
        margin: 0 1rem;
        text-decoration: none;
        text-transform: capitalize;
}

header .btn{
    margin-top: 0;
}

@media(max-width:991px) {
    html{
        font-size: 55%;
    }

    header{
        padding:0 2rem;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.5rem;
    }
}

.header {
    text-align: center;
    line-height: 0.8;
    margin-bottom: 50px;
    margin-top: 100px;
}

.header p {
    margin: 0 auto;
    line-height: 2;
    color: var(--grayishBlue);
}


.box p {
    color: var(--grayishBlue);
}

.box {
    border-radius: 5px;
    box-shadow: 0px 30px 40px -20px var(--grayishBlue);
    padding: 30px;
    margin: 20px;  
}

.box img {
    float: right;
    height: 40px !important;
    width: 40px !important;
}

@media (max-width: 450px) {
    .box {
        height: 200px;
    }
}

@media (max-width: 950px) and (min-width: 450px) {
    .box {
        text-align: center;
        height: 180px;
    }
}

.cyan {
    border-top: 3px solid var(--cyan);
}
.red {
    border-top: 3px solid var(--red);
}
.blue {
    border-top: 3px solid var(--blue);
}
.orange {
    border-top: 3px solid var(--orange);
}

h2 {
    color: var(--varyDarkBlue);
    font-weight: var(--weight3);
}


@media (min-width: 950px) {
    .row1-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .row2-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-down {
        position: relative;
        top: 150px;
    }
    .box {
        width: 20%;
     
    }
    .header p {
        width: 30%;
    }
}

@media(max-width:768px) {
    #menu-btn{
        display: initial;
    }

    #menu-btn.fa-times{
        transform: rotate(180deg);
    }

    header .navbar{
        position: absolute;
        top: 99%;
        left: 0; right: 0;
        background: #fff;
        display: block;
        width: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path:polygon(0 0, 100% 0, 100% 100%, 0 100%) ;
    }

    header .navbar a{
        display: block;
        padding: 1.5rem 2rem;
        margin: 0;
        font-size: 2.1rem;
    }
}